.spin-loader .loader {
  width: 70px;
  height: 70px;
  border: 6px solid var(--color-white);
  border-top: 6px solid var(--color-grey);
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

.spin-loader .description-small {
  display: inline-block;
  margin-top: 10px;
}

/* Animation */

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
